
.top{
  background-color: gray;
  color:black;
  text-align:left;
  padding:10px; 
}

.lines{
  font-color: black;
}

.logo{
  border-style: solid;
  border-color: white; 
  border-width: 2px;
  padding: 3px;
  font-family: Verdana;
  font-size: 20px;
}

.block{
  margin: 10px;
  border: solid 1px red;
  padding:15px;
}

.class{
  color: none;
}

.middle{
  background-color:whitesmoke;
  color:black;
  text-align:left;
  padding:5px;
  margin: inherit;

}
.footer{
  color:black;
  text-align:center;
  padding:20px;
  height:300px;
  border-top: black;
  font-family: verdana;
  font-size: 10pt;
}

body {
  color: black;
  font-family: Verdana;

}
a {
  color: black;
}

.Puppy{
  font-size: 10px;
  margin-left: 20px;
  margin-top: 0px;
  color: slategrey;
  text-align: 
}
.Akita{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  border: 4px;
  margin-top: 2px;
  padding:4px;
  width: 50x;
  display: block;
}

.more{
  text-indent: 45px;
  font-size: 10pt;
}

